/*Глобальные стили*/

  /*Переменные*/
  :root {
    --hotel-card-margin: 10px; /*Внешние оступы между карточками в каталоге*/
    --card-in-grid-amount: 3; /*Количество карточек товара в каталоге. Значением указывать только целое число. Изменяя значение можно быстро менять количество карточек в каталоге в ряду.*/
    --main-font-family: 'PT Sans', sans-serif; /*Основной шрифт сайта*/
    --main-font-color: #333; /*Основной цвет шрифта для текстов и заголовков*/
    --main-gray-color: #F2F2F2;
    --button-main-font-size: 16px; /*Размер шрифта кнопок основных*/
    --pagination-button-font-size: 20px; /*Размер шрифта кнопок пагинации*/
    --button-font-color: #ffffff; /*Цвет текста основных кнопок*/
    --button-brown-color: #756157; /*Цвет коричневой кнопки*/
    --button-green-color: #7DB54F; /*Цвет зеленой кнопки*/
    --button-blue-color: #82B3D3; /*Цвет голубой кнопки*/
    --common-button-padding: 8px 0px; /*Отступы в основных кнопках*/
    --pagination-button-padding: 12px; /*Отступы в кнопках пагинации*/
  }

  a {
    text-decoration: none;
    white-space: nowrap;
  }

  button {
    cursor: pointer;
    white-space: nowrap;
  }

  hr.widescreen-delimiter {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin: 40px 0px;
    border: none;
  }

/*Стили шапки*/
  header {
    padding: 0px 70px;
  }

/*Стили блоков главной страницы*/

  /*Стили баннера*/
    .site-banner {
      background-image: url(/img/sedona-main-banner.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

  /*Контейнер для текстовых блоков*/
  .standart-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    box-sizing: border-box;
  }

  /*Заголовок 2 уровня в текстовых блоках*/
  h2.standart-text-block-header {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  /*Обычный текст в текстовых блоках*/
  p.standart-text-block-text {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
  }

/*Стили подвала*/

  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px 30px 70px;
    box-sizing: border-box;
  }

  a.contact-phone {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
  }

/*Обшие стили для всех кнопок*/
  .button {
    cursor: pointer;
    display: flex;
    border: none;
    width: max-content;
    justify-content: center;
    align-items: center;
    color: var(--button-font-color);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
  }

  /*Коричневая кнопка*/
  .button-brown {
    background-color: var(--button-brown-color);
    border-radius: 4px;
    padding: var(--common-button-padding);
  }

  /*Зеленая кнопка*/
  .button-green {
    background-color: var(--button-green-color);
    border-radius: 4px;
    padding: var(--common-button-padding);
  }

  /*Голубая кнопка*/
  .button-blue {
    background-color: var(--button-blue-color);
    border-radius: 4px;
    padding: var(--common-button-padding);
  }

  /*Кнопка "Подробнее"*/
  .button-more-details {
    width: calc((100% - 10px) / 2);
    padding: var(--common-button-padding);
  }

  /*Кнопка "Добавить в избранное"*/
  .button-favorites {
    width: calc((100% - 10px) / 2);
    padding: var(--common-button-padding);
  }

  /*Кнопки пагинации*/

  /*Контейнер-список для кнопок*/
  ul.catalog-pagination {
    display: flex;
    list-style-type: none;
  }

  /*Элемент контейнера-списка для кнопок*/
  li.pagination-item {
    margin: 0px 4px;
  }

  /*Убираем отступ слева у кнопки первой страницы*/
  li.pagination-item:first-child {
    margin: 0px 4px 0px 0px;
  }

  /*Убираем отступ справа у кнопки последней страницы*/
  li.pagination-item:last-child {
    margin: 0px 0px 0px 4px;
  }

  /*Кнопка номера страницы*/
  .pagination-button {
    padding: var(--pagination-button-padding);
    background-color: var(--button-blue-color);
    border-radius: 4px;
    font-size: var(--pagination-button-font-size);
    width: 36px;
    height: 36px;
  }

  /*Кнопка активной страницы*/
  .pagination-button-active {
    padding: var(--pagination-button-padding);
    background-color: var(--main-gray-color);
    color: black;
    border-radius: 4px;
    font-size: var(--pagination-button-font-size);
    width: 36px;
    height: 36px;
  }

  /*"Кнопка-точки"*/
  .pagination-dots {
    background: white;
    color: black;
  }

/*Блок подписаться*/

  form.newsletter_subscribe {
    display: flex;
  }

  input.input-email {
    padding: 12px 20px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    background: #F2F2F2;
    flex: 1 1 0;
  }

  input.input-email:focus-visible {
    padding: 12px 20px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    background: #F2F2F2;
    flex: 1 1 0;
  }

  /*Кнопка подписаться*/
  .subscribe-button {
    border: none;
    border-radius: 0px 4px 4px 0px;
    padding: 8px 50px;
    color: var(--button-font-color);
    font-family: var(--main-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 125% */
    text-transform: uppercase;
  }

  /*Кнопка сброса фильтров*/
  .button-reset {
    background: transparent;
  }

/*Стили каталога*/

  .catalog-filter {
    background: url(/img/catalog-filter-background.jpg);
    padding: 35px 70px 70px 70px;
    box-sizing: border-box;
  }

  /*Контейнер с карточками гостиниц*/
  ul.hotel-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1220px;
    width: calc(100% + var(--hotel-card-margin) * 2);
    margin: auto;
    padding-inline-start: 0 px;
  }

  /*Карточка гостиницы в общем списке*/
  li.hotel-card-list-item {
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin: var(--hotel-card-margin);
    box-sizing: border-box;
    list-style-type: none;
    width: calc((100% - ((var(--hotel-card-margin) * 2) * var(--card-in-grid-amount))) / var(--card-in-grid-amount));
  }

  /*Контейнер для кнопок "Подробнее" и "В избранное"*/
  .hotel-card-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
