/*Глобальные стили*/

/*Шрифты*/

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(fonts/ptsans-400.woff2) format(woff2);
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(fonts/ptsans-700.woff2) format(woff2);
}

/*Переменные*/
:root {
  --main-column-width: 1200px; /*Ширина колонки сайта / блоков согласно макету*/
  --hotel-card-margin: 10px; /*Внешние оступы между карточками в каталоге*/
  --card-in-grid-amount: 3; /*Количество карточек товара в каталоге в ряду. Значением указывать только целое число. Изменяя значение, можно быстро менять количество карточек в каталоге в ряду.*/
  --main-font-family: 'PT Sans', sans-serif; /*Основной шрифт сайта*/
  --main-font-color: #333; /*Основной цвет шрифта для текстов и заголовков*/
  --main-gray-color: #F2F2F2; /*Основной серый цвет*/
  --button-main-font-size: 16px; /*Размер шрифта кнопок основных*/
  --pagination-button-font-size: 20px; /*Размер шрифта кнопок пагинации*/
  --button-font-color: #ffffff; /*Цвет текста основных кнопок*/
  --button-brown-color: #756157; /*Цвет коричневой кнопки*/
  --button-green-color: #7DB54F; /*Цвет зеленой кнопки*/
  --button-blue-color: #82B3D3; /*Цвет голубой кнопки*/
  --common-button-padding: 8px 0px; /*Отступы в основных кнопках*/
  --pagination-button-padding: 12px; /*Отступы в кнопках пагинации*/
  --input-color: #3F5E72; /*Цвет флажков в чекбоксах и радиокнопках*/
}

html {
  height: 100%;
}

main.main-container {
  flex-grow: 1;
}

/*Объявляем базовые стили у всех блоков*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-size: 16px;
  line-height: 24px;
}

/*Общие стили для всех ссылок*/
a {
  text-decoration: none;
  white-space: nowrap;
}

img {
  display: block;
}

/*Скрываем невидимые элементы*/
.visually-hidden {
  visibility: hidden;
  display: none;
}

/*==================================*/

/*Стили для текстовых блоков во всю ширину*/

/*Контейнер для текстовых блоков*/
.standart-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 64px 0;
}

/*Заголовок 2 уровня в текстовых блоках*/
h2.standart-text-block-header {
  color: var(--main-font-color);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

/*Обычный текст в текстовых блоках*/
p.standart-text-block-text {
  color: var(--main-font-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

/*=============== КНОПКИ ================*/


/*Обшие стили для всех кнопок*/
.button {
  padding: 8px 0px;
  display: flex;
  border: none;
  width: max-content;
  justify-content: center;
  align-items: center;
  color: var(--button-font-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

/*Коричневая кнопка*/
.button-brown {
  background-color: var(--button-brown-color);
  border-radius: 4px;
}

/*Зеленая кнопка*/
.button-green {
  background-color: var(--button-green-color);
  border-radius: 4px;
}

/*Голубая кнопка*/
.button-blue {
  background-color: var(--button-blue-color);
  border-radius: 4px;
}

/*Кнопка "Подробнее"*/
.button-more-details {
  width: 100%;
  padding: 8px 0px;
  box-sizing: border-box;
}

/*Кнопка "Добавить в избранное"*/
.button-favorites {
  width: 100%;
  box-sizing: border-box;
}

/*Кнопка "Хочу сюда!"*/
.button-hotel-search {
  padding: 8px 50px;
  margin-left: 20px;
}

/*Кнопка "Поиск гостиниц в Седоне"*/
.sedona-hotel-search {
  padding: 8px 50px;
}

/*Ссылка на страницу поиска/ подбора отелей*/
.search {
  background-image: url(../images/search-button-ico.svg);
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  appearance: none;
  background-color: transparent;
  padding: 22px 12px;
}

/*Ссылка на страницу избранного*/
.favorites {
  background-image: url(../images/favorites-button-ico.svg);
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  appearance: none;
  background-color: transparent;
  padding: 22px 12px;
}

/*============ ШАПКА ==============*/

/*Основной блок*/
header.sedona-header {
  padding: 0px 70px;
  box-sizing: border-box;
  width: var(--main-column-width);
  margin: 0 auto;
  height: 64px;
  display: grid;
  grid-template-columns: 140px auto auto;
  align-content: center;
  align-items: center;
}

/*Cписок пунктов меню шапки*/
nav.header-navigation {
  margin: 0 auto 0 30px;
  height: inherit;
}

/*Логотип в шапке*/
img.sedona-header-logo {
  position: relative;
  z-index: 5;
}

/*Список пунктов меню в шапке*/
ul.navigation-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: inherit;
}

/*Блок с кнопками в хедере*/
nav.navigation-button {
  margin: 0 0 0 auto;
}

/*Список с кнопками в шапке*/
ul.navigation-button-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

/*Элемент панели навигации с кнопками в хедере*/
li.navigation-button-item {
  padding: 0;
}

/*Элемент панели навигации с кнопками*/
li.navigation-item {
  padding: 20px 0px;
  margin: 0 16px;
}

/*Элемент списка при наведении*/
.header-navigation li.navigation-item:hover {
  border-bottom: 2px solid #756257;
}

/*Пункты меню шапки*/
a.nav-link {
  color: var(--main-font-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*==================================*/

/*Стили блоков главной страницы*/

/*Стили баннера*/
.site-banner {
  background-image: url(../images/sedona-main-banner.png);
  /*background-repeat: no-repeat;*/
  background-size: cover;
  background-color: #333;
  position: relative;
  padding: 50px 0px 70px 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  /*height: calc(100vw * 0.4041);*/
}

/*Декоративная иконка под баннером*/
.bottom-border {
  background-image: url(../images/banner-bottom-border.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: calc(100vw * 0.0475);
}

/*==================================*/

/*Стили подвала*/

footer {
  padding: 40px 70px 30px 70px;
  box-sizing: border-box;
}

/*Обертка для контента футера*/
.footer-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  max-width: var(--main-column-width);
  margin: 0 auto;
}

/*Список ссылок на социальные сети*/
ul.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Элемент списка с иконкой*/
li.social-list-item {
  padding: 0px 10px;
}

/*Иконка Телеграм*/
.tg {
  width: 18px;
  height: 16px;
  background-image: url(../images/socail-tg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/*Иконка ВК*/
.vk {
  width: 24px;
  height: 14px;
  background-image: url(../images/social-vk.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/*Иконка YouTube*/
.yt {
  width: 22px;
  height: 17px;
  background-image: url(../images/socail-yt.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/*Элемент списка ссылок*/
a.contact-phone {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

/*==================================*/

/*Блок с приемуществами*/
section.advantages {
  max-width: var(--main-column-width);
  margin: 0 auto;
}

/*Список*/
ul.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li.advantages-list-item {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-grow: 1;
  width: 400px;
  flex-wrap: wrap;
  justify-content: center;
}

/*Задаем фон и ширину первому и последнему элементу списка*/
li.advantages-list-item:first-child,
li.advantages-list-item:last-child {
  background-color: #82B3D3;
  width: 100%;
}

/*Задаем фон среднему (3-му по счету) элементу списка*/
li.advantages-list-item:nth-child(3) {
  background-color:rgba(131, 179, 211, 0.20);
}

/*Указываем порядок изображения в первом элементе списка*/
li.advantages-list-item:first-child img {
  order: 1;
  flex-grow: 3;
}

/*Указываем порядок изображения в последнем элементе списка*/
li.advantages-list-item:last-child img {
  order: -1;
  flex-grow: 3;
}

/*Текстовый блок с заголовком и описанием приемуещства*/
.advantages-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 103px 85px;
}

/*Текстовый блок с заголовком и описанием приемуещства в первом и последнем элементе списка*/
li.advantages-list-item:first-child .advantages-text-block,
li.advantages-list-item:last-child .advantages-text-block {
  flex: 0.5 2 400px;
}

/*Общие стили для заголовка блока*/
h3.advantages-item-header {
  color: var(--main-font-color);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
}

/*Цвет заголовка в первом и последнем эелементе*/
.advantages-list-item:first-child h3.advantages-item-header,
.advantages-list-item:last-child h3.advantages-item-header {
  color: #ffffff;
}

/*Описание приемущества*/
p.advantages-item-description {
  color: var(--main-font-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 auto;
}

/*Цвет текста описания в первом и последнем элементе*/
.advantages-list-item:first-child p.advantages-item-description,
.advantages-list-item:last-child p.advantages-item-description {
  color: #ffffff;
}

/*Разделитель в блоке*/
hr.advantages-delimiter {
  width: 60px;
  height: 2px;
  border: none;
  background-color: var(--main-font-color);
  opacity: 0.3;
  margin: 0 auto 30px auto;
}

/*Разделитель в блоке в первом и последнем эелементе*/
.advantages-list-item:first-child hr.advantages-delimiter,
.advantages-list-item:last-child hr.advantages-delimiter {
  background-color: #ffffff;
}

/*==================================*/

/*Блок "Советы посетителям"*/
section.tips-for-tourist {
  max-width: var(--main-column-width);
  margin: 0 auto;
}

/*Список"*/
ul.tips-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

/*Элемент списка"*/
li.tips-list-item {
  color: var(--main-font-color);
  text-align: center;
  padding: 80px 85px;
  box-sizing: border-box;
  width: calc(100% / 3);
  min-width: 340px;
  flex-grow: 1;
}

/*Меняем  цвет подложки у элемента списка"*/
li.tips-list-item:first-child,
li.tips-list-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Иконка приемущества-совета*/
img.tips-image {
  width: 75px;
  height: auto;
  margin: 0 auto 30px auto;
}

/*Название приемущества*/
h3.tips-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
}

/*Текст совета*/
p.tips-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

/*==================================*/

/*Блок с предложением поиска гостиницы*/
.hotel-search {
  padding: 96px 0;
}

/*Текст абзаца с предложением поиска гостиницы*/
p.hotel-search-paragraph {
  margin-bottom: 55px;
}

/*==================================*/

/*Блок подписаться*/

/*Контейнер блока*/
.subscribe-block {
  padding: 96px 0px 104px 0px;
}

/*Форма отправки емейла*/
form.newsletter_subscribe {
  display: flex;
}

/*Заголовок блока*/
h2.subscribe-block-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

/*Текст блока*/
p.subscribe-block-text {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto 54px auto;
}

/*Поле ввода емейла*/
input.input-email {
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
  flex: 1 1 0;
}

/*Поле ввода емейла при фокусе*/
input.input-email:focus-visible {
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
  flex: 1 1 0;
  outline: 0px;
}

/*Кнопка подписаться*/
.subscribe-button {
  border: none;
  border-radius: 0px 4px 4px 0px;
  padding: 8px 50px;
  color: var(--button-font-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

/*==================================*/

/*Стили каталога*/

/*Блок с фильтрами и карточками*/
section.hotel-catalog {
  padding: 50px 70px 0px 70px;
  margin-bottom: 60px;
}

/*Хлебные крошки*/
ul.breadcrumbs {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 40px 0;
  padding: 0;
}

/*Параметы отступа пункта списка в хлебных крошках в случае, если их будет больше 2*/
li.breadcrumbs-item {
  margin: 0 10px;
}

/*Параметы первого пункта списка в хлебных крошках*/
li.breadcrumbs-item:first-child {
  margin: 0 10px 0 0;
}

/*Параметы последнего пункта списка в хлебных крошках*/
li.breadcrumbs-item:last-child {
  margin: 0 0 0 10px;
}

/*Стилизуем название страницы с хлебных крошках*/
a.breadcrumb-page-name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

/*Стилизуем ссылку-иконку "На главную"*/
.breadcrumb-start-page-button {
  background-color: transparent;
  color: white;
  background-image: url(../images/breadcrumb-start-page.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 13px;
}

/*Стрелка - разделитель в хлебных крошках*/
span.breadcrumb-arrow {
  background-color: transparent;
  background-image: url(../images/breadcrumb-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 7px 0;
  display: block;
  width: 20px;
}

/*Разделитель под каталогом*/
hr.widescreen-delimiter {
  max-width: var(--main-column-width);
  height: 1px;
  background-color: #e6e6e6;
  margin: 0px auto 40px auto;
  border: none;
}

/*==================================*/

/*Контейнер блока с фильтрами*/
.catalog-filter {
  background-image: url(../images/catalog-filter-background.jpg);
  padding: 35px 0px 70px 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-font-color);
}

/*Приводим к нужной ширине хедер в фильтре и сам блок с фильтрами*/
.catalog-header, .hotel-filter{
  max-width: var(--main-column-width);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 70px;
}

/*Заголовок страницы "Каталог"*/
h1.inner-page-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px 0;
}

/*Форма с фильтрами*/
.filter-form {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

/*Название типа фильтра*/
legend.hotel-catalog-filter-title {
  grid-area: a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

/*Убираем стили маркировки у списка фильтров*/
ul.housing-list,
ul.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Обнуляем стили и убираем рамки у полей формы*/
.hotel-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: max-content;
}

/*Фильтр сортировки по цене*/
fieldset.sorting-for-price {
  display: grid;
  grid-template-areas:  'a a'
                        'b c'
                        'd d';
}

/*Поле ввода минимальной цены*/
label.price-from {
  grid-area: b;
  border: none;
  padding: 12px 20px;
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
  margin-right: 1px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
}

/*Поле ввода максимальной цены*/
label.price-to {
  grid-area: c;
  border: none;
  padding: 12px 20px;
  border-radius: 0px 4px 4px 0px;
  background: #F2F2F2;
  margin-left: 1px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
}

/*ползунок выбора минимальнйо и максимальной цены*/
label.price-slider {
  grid-area: d;
}

/*УБираем подложку и границы и полей ввода цены*/
label.price-from input, label.price-to input {
  border: none;
  background-color: transparent;
}

/*Обертка для кнопок в блоке с фильтрами*/
.filter-buttton-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 0 0 70px;
  padding: 0;
}

/*Кнопка сброса фильтров*/
button.button-reset {
  background: transparent;
  padding: 8px 50px;
}

/*Кнопка "Применить"*/
.button-aplly {
  margin: 0 0 32px 0;
  padding: 8px 50px;
}

/*================================*/

/*Стилизуем элементы списка*/
li.catalog-filter-item {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 16px;
}

/*Убираем отступ последнего элемента списка*/
li.catalog-filter-item:last-child {
  margin-bottom: 0;
}

/*Стилизуем чекбоксы к блоке с фильтрами*/
li.catalog-filter-item input[type="checkbox" i], li.catalog-filter-item input[type="radio" i] {
  margin: 0 16px 0 0;
  padding: 0;
  background-color: white;
  border: none;
}

/*Стилизуем чекбоксы*/
li.catalog-filter-item input[type="checkbox" i] {
  width: 20px;
  height: 19px;
}

/*Стилизуем радиокнопки*/
li.catalog-filter-item input[type="radio" i] {
  width: 20px;
  height: 20px;
}

/*==================================*/

/*Блок с панелью сортировки и кнопками внешнего вида*/
section.sorting-and-appearance {
  display: flex;
  align-items: center;
  margin: 0 auto 40px auto;
  height: 50px;
}

/*Заголовок "Найдено гостиниц"*/
h2.hotel-amount {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

/*Стили пунктов меню сортировки*/
select.sort-by-price {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 14px 20px;
  box-sizing: border-box;
  margin: 0 70px 0 auto;
}

/*Секция с карточками отелей*/
section.hotel-catalog {
  max-width: var(--main-column-width);
  margin: auto;
  box-sizing: border-box;
}

/*Панель с кнопками смены внешнего вида каталога*/
.appearance-change-button {
  height: inherit;
  margin-right: 0;
}

/*Общие стили кнопки смены внешнего вида*/
button.button-appearance-change {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  padding: 14px 12px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

/*Меняем выделение кнопки смены внешнего вида при наведении и у активной*/
button.button-appearance-change:hover, button.button-appearance-change:active {
  border-color: black;
}

/*Меняем выделение кнопки смены внешнего вида при фокусах*/
button.button-appearance-change:focus, button.button-appearance-change:focus-visible{
  border-color: #68A2CA;
}

/*Иконка "Показать плиткой"*/
.tile {
  background-image: url(../images/appereance-tile.svg);
}

/*Иконка "Показать списком*/
.list {
  background-image: url(../images/appereance-list.svg);
}

/*Иконка "Показать в строку*/
.one-in-line {
  background-image: url(../images/appereance-one-line.svg);
}

/*Контейнер с карточками гостиниц*/
section.hotel-card {
  max-width: var(--main-column-width);
  margin: 0 auto 40px auto;
}

/*Список элементов*/
ul.hotel-card-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: var(--main-column-width);
  margin: auto;
  padding-inline-start: 0px;
}

/*Карточка гостиницы в общем списке*/
li.hotel-card-list-item {
  display: block;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 20px;
  box-sizing: border-box;
  list-style-type: none;
  width: 340px;
  margin: 0;
}

/*Делаем картинку равной ширине карточки товара*/
img.hotel-card-image {
  width: 100%;
  margin: 0 0 16px 0;
}


/*Название отеля*/
h3.hotel-name {
  color: var(--main-font-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 16px 0;
}

/*Контейнер для типа гостиницы и цены*/
.hotel-info-wrapper {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 20px;
}

/*Название типа гостиницы*/
p.hotel-type {
  text-align: left;
  margin: 0;
  padding: 0;
}

/*минимальная цена гостиницы*/
p.minimal-price {
  margin: 0;
  padding: 0;
  text-align: right;
}

/*Рейтинг отеля по количеству звезд*/
.hotel-rating-star {
  display: flex;
  align-items: center;
}

/*Иконка звезды*/
.rate-star {
  background-image: url(../images/rate-star.svg);
  background-position: center center;
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

/*Убираем отступ у последнего элемента*/
.rate-star:last-child {
  margin: 0;
}

/*Текст и значение рейтинга*/
p.rating-text {
  border-radius: 4px;
  background-color: var(--main-gray-color);
  text-align: center;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 0;
  margin: 0;
}

/*==================================*/

/*Кнопки пагинации*/

/*Блок с пагинацией*/
section.pagination {
  margin-bottom: 60px;
}

/*Контейнер-список для кнопок*/
ul.catalog-pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Элемент контейнера-списка для кнопок*/
li.pagination-item {
  margin: 0px 4px;
}

/*Убираем отступ слева у кнопки первой страницы*/
li.pagination-item:first-child {
  margin: 0px 4px 0px 0px;
}

/*Убираем отступ справа у кнопки последней страницы*/
li.pagination-item:last-child {
  margin: 0px 0px 0px 4px;
}

/*Кнопка номера страницы*/
.pagination-button {
  padding: var(--pagination-button-padding);
  background-color: var(--button-blue-color);
  border-radius: 4px;
  font-size: var(--pagination-button-font-size);
  width: 36px;
  height: 36px;
}

/*Кнопка активной страницы*/
.pagination-button-active {
  padding: var(--pagination-button-padding);
  background-color: var(--main-gray-color);
  color: black;
  border-radius: 4px;
  font-size: var(--pagination-button-font-size);
  width: 36px;
  height: 36px;
}

/*"Кнопка-точка"*/
.pagination-dots {
  background: white;
  color: black;
}
